* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pliant', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1.8fr 3fr;
}

main {
    background-color: #1A1617;
    height: 100vh;
    color: white;
    overflow-y: scroll;
}

header {
    display: flex;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #1A1617;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #161112;
}

header img {
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

.content {
    padding-left: 70px;
    padding-right: 70px;
}

h2, h3 {
    margin-bottom: 20px;
    color: #e0e0e0;
}

.projet-card {
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid #161112;
}

.projet-image-container {
    flex: 1;
}

.projet-image {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.projet-details {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projet-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    color: #ffffff;
}

.title-br {
    display: block;
}

.projet-description {
    color: #BEC0CA;
}

.projet-tags {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tag {
    color: #e0e0e0;
    font-weight: 500;
    font-size: 1rem;
}

header a {
    text-decoration: none;
    color: white;
}

.exper {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    background-color: #161112;
    border-radius: 12px;
    padding: 15px;
    margin: 20px auto;

}

.exper p {
    color: #BEC0CA;
    font-size: 13px;
}

.exper span {
    background: linear-gradient(45deg, #1BA69D, white, blue);
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 1px 5px;
    font-weight: bold;
}

.exper span:hover,
.caractere:hover,
.cv:hover {
    opacity: .7;
}

.exper span a {
    text-decoration: none;
    color: black;
}

.exper p,
.exper h4 {
    margin-top: 10px;
}

.caractere {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18342C;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top: 40px;
}

.caractere a {
    text-decoration: none;
    color: white;
}

/* La GAUCHE */
.left {
    background-color: #161112;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    color: #BEC0CA;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.left::-webkit-scrollbar {
    display: none;
}

.left div>img {
    object-fit: cover;
    border: 5px solid #32B3A3;
    height: 130px;
    width: 140px;
    margin-top: 30px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.name {
    font-size: 25px;
    font-weight: bold;
}

.reseaux img {
    height: 60px;
    width: 60px;
    margin-right: 18px;
}

.langProg {
    display: flex;
    overflow: hidden; /* Masque les groupes qui attendent leur tour */
    width: 100%;
}

.grpe {
    flex: 0 0 100%; /* Chaque groupe occupe 100% de la largeur disponible */
}

.list {
    display: inline-block;
    font-weight: bold;
}

.list span {
    display: inline-block;
    justify-content: center;
    background: linear-gradient(45deg, #1BA69D, white, blue);
    color: black;
    padding: 1px 8px;
    border-radius: 12px;
    margin-right: 6px;
    font-size: 11px;
    margin-left: 4px;
}

.presentation {
    margin-bottom: 20px;
}

.reseaux {
    margin-top: 5px;
}

.competance div {
    background-color: #1DB651;
    padding: 5px;
    display: inline-block;
    border-radius: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.competance img {
    height: 25px;
    width: 25px;
    margin-right: 2px
}

.competance a {
    display: flex;
    align-items: center;
    color: black;
}

.cv div {
    display: inline-block;
    background-color: #1BA69D;
    padding: 9px;
    font-weight: bold;
    color: black;
    border-radius: 25px;
    margin-bottom: 10px;
}

.cv a,
.localisation a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv a {
    color: black;
}

.localisation a {
    color: #BEC0CA;
    margin-top: 10px;
}

.cv img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.localisation {
    margin-bottom: 10px;
}

.localisation div {
    display: inline-block;
    align-items: center;
}

.localisation img {
    margin-right: 3px;
    height: 25px;
    width: 25px;
}

.footer {
    text-align: center; 
    color: #BEC0CA; 
    padding: 10px;
}

.footer>p {
    margin-top: 7px;
}

.footer>div {
    display: inline-block; 
    justify-content: space-between;
}

.footer .sup_info {
    margin-top: 10px;
}

.footer .sup_info h4 {
    margin-bottom: 5px;
}

footer .sup_info {
    margin-right: 10px;
}

footer {
    display: none;
}

         /* ================================================== RESPONSIVE ==================================================== */
@media (max-width: 1119px) {

    .container {
        display: block;
    }

    body {
        background-color: #161112;
    }

    .left {
        text-align: center;
    }

    .left div>img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .left .langProg .grpe p {
        margin-bottom: 30px;
    }

    .left,
    .main {
        height: 100%;
    }

    .content {
        margin-top: 30px;
    }

    .presentation p {
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
    }

    .left .footer {
        display: none;
    }

    .left .sup_info {
        display: none;
    }

    header {
        display: none;
    }

    footer {
        display: inline;
        background-color: #1A1A1A;
        color: white;
    }

    footer>div {
        display: flex; 
        justify-content: space-between;
    }

    footer {
        text-align: center;
        padding: 30px;
    }

    .projet-card {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 70px;
    }
    
    .projet-image-container {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 360px) {

    .projet-title {
        font-size: 12px;
    }

    .projet-tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    footer .reseaux {
        display: none;
    }

    .projet-card {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 70px;
    }
    
    .projet-image-container {
        max-width: 100%;
        width: 100%;
    }

}

@media (max-width: 393px) {

    .reseaux img {
        height: 35px;
        width: 35px;
    }

}
